*{
    margin: 0;
    padding: 0;
    
}
nav{
    display: flex;
    align-items: center;
}
.info .logo{
    height: 15vh;
}
nav ul li{
    display: inline-block;
    margin: 5px 35px;
}
.info nav ul li #heading{
    margin-left: 200px;
    color: #fff;
}
.info{
    width: 100%;
    height: 15vh;
    background-color: #2E8B57;
}
.heading2 h2{
        text-align: center;
        margin-top: 30px;
        height: 40px;
        width: 50vw;
        background-color: #2E8B57;
        margin-left: 270px;
        color: #fff;
}
.table01 .table1{
    /* margin-left: 13%; */
    margin-left: 13%;
    margin-top: 5%;
}
.table01 .table1 table, th, td{
    border: 1px solid black;
    padding: 10px;
}
.table1 table #th1{
    background-color: #EEE8AA;
}
.table01 .table2{
    /* margin-left: 13%; */
    margin-top: 10%;
}
.table01 .table2 table, th, td{
    border: 1px solid black;
    padding: 10px;
}